{% load static %}

{% include 'layout/top.html' %}
{% include 'layout/navbar.html' %}


<div class="container">
    {% if request.user.is_authenticated and request.user.user_type == 'player' or request.user.user_type == 'manager' %}
    <div>
        <h1>Добро пожаловать, (звание) {{ player.username }}!</h1>
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <img src="{% static 'main/images/solder_svg.svg' %}" height="311" width="161"/>
                <div>
                    <p class="fs-5 fw-bold">Позывной: {{ player.username }}</p>
                    <p class="fs-5 fw-bold">ФИО: {{ player.first_name }} {{ player.last_name }}</p>
                    <p class="fs-5 fw-bold">Дата рождения: {{ player.dob }} {{ player.user_type }}</p>
                    {% if request.user == player %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Выйти</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="fs-5 fw-bold text-light">
                <div class="plashka">
                    <div class="d-flex justify-content-around">
                        <div class="text-red m-4">
                            <p class="fs-4">Позиция в общем рейтинге</p>
                            <p class="fs-126 m--1">13</p>
                        </div>
                        <div class="m-4">
                            <p class="fs-4">Количество очков</p>
                            <p class="fs-126 m--1">4422</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center p-3 fs-4">
                        <p>До нового звания Прапорщик необходимо 610 очков</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if request.user.user_type == 'manager' %}
        <div style="padding-top: 20px">
            <a href="{% url 'main:player_list' %}" class="btn btn-primary">Список игроков</a>
            <a href="{% url 'main:register_manager' %}" class="btn btn-primary">Регистрация менеджера</a>
            <a href="{% url 'main:register_player' %}" class="btn btn-primary">Регистрация игрока</a>
        </div>
    {% endif %}
    {% endif %}
</div>

    <style>
        .logout-button {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 3px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            height: 30px;
        }
        .logout-button:hover {
            background-color: #d32f2f;
        }
    </style>










<style>
                .plashka {
                    background: url('{% static 'main/images/plashka_lk.png' %}');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .text-red{
                    color: red;
                }
                .fs-126{
                    font-size: 126px;
                }
                .m--1{
                    margin-top: -50px;
                    margin-bottom: -50px;
                }
            </style>

{% include 'layout/footer.html' %}
{% include 'layout/bottom.html' %}