
{% load static %}

{% include 'layout/top.html' %}
{% include 'layout/navbar.html' %}






{% block content %}
<div class="justify-content-center">
  <div class="container">
    <h1 class="my-4">{{ view.title }}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
  </div>
</div>
{% endblock %}

{% include 'layout/footer.html' %}
{% include 'layout/bottom.html' %}