{% load static %}

<!--Навигация-->
<style>
    .hover-link {
    color: white;
         transition: color 0.4s ease;
}
.hover-link:hover {
    color: red;
}

</style>

<nav class="navbar navbar-expand-lg bg-black ">
  <div class="container-fluid container" >
    <a href="{% url 'main:mainpage' %}" class="navbar-brand"><img class="logo-hw" src="{% static 'main/images/LogoLF.svg' %}"></a>
    <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 text-nowrap" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
<!--         <li class="nav-item sdc">-->
<!--                <a class="nav-link disabled text-light fs-2 text">СИЛА ДОБЛЕСТЬ ЧЕСТЬ</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link fw-bold fs-4 text hover-link" href="{% url 'main:statistics' %}"><img src="{% static 'main/images/star_menu.png' %}"> Статистика боёв</a>
        </li>
          <li class="nav-item">
          <a class="nav-link fw-bold fs-4 text hover-link" href="{% url 'main:polygons' %}"><img src="{% static 'main/images/star_menu.png' %}"> Полигоны</a>
        </li>
          <li class="nav-item">
          <a class="nav-link fw-bold fs-4 text hover-link" href="{% url 'main:scenario-list' %}"><img src="{% static 'main/images/star_menu.png' %}"> Сценарии</a>
        </li>
          <li class="nav-item">
          <a class="nav-link fw-bold fs-4 text hover-link" href="{% url 'main:equipment_list' %}"><img src="{% static 'main/images/star_menu.png' %}"> Оборудование</a>
        </li>

          <li class="nav-item dropdown">
              <a class="nav-link fw-bold fs-4 text hover-link dropdown-toggle" href="{% if request.user.is_authenticated %}{% url 'main:player_profile' request.user.pk %}{% else %}{% url 'login' %}{% endif %}" id="navbarDropdown" role="button" aria-expanded="false">
                  <img src="{% static 'main/images/star_menu.png' %}"> Личный кабинет</a>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                  {% if request.user.is_authenticated %}
                  {% if request.user.user_type == 'manager' %}
                  <li><a class="dropdown-item" href="{% url 'main:player_list' %}">Список игроков</a></li>
                  {% endif %}
                  <li>
                      <form method="post" action="{% url 'logout' %}" class="m-0">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item">Выйти</button>
                      </form>
                  </li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Отделенная ссылка</a></li>
                </ul>
            </li>


      </ul>
    </div>
</div>
</nav>

<style>
    nav.navbar .dropdown:hover > .dropdown-menu {
 display: block;
}

    /* Устанавливаем ширину выпадающего меню на 100% от родительского элемента */
.nav-item.dropdown .dropdown-menu {
    width: 100%;
}

/* Для лучшего внешнего вида, возможно, нужно убрать выравнивание по правому краю */
.nav-item.dropdown .dropdown-menu-lg-end {
    left: 0;
    right: 0;
}

/* Дополнительно: чтобы меню не пряталось за пределами родительского элемента */
.nav-item.dropdown {
    position: relative;
}
</style>