

{% load static %}

{% include 'main/running-title/top.html' %}
{% include 'main/running-title/navbar.html' %}

<!--СЛАЙДЕР-->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active visually-hidden" aria-current="true" aria-label="Slide 1"></button>
    <button class="visually-hidden" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button class="visually-hidden" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'main/images/fon2_lk.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-start fw-bold">РЕАЛИСТИЧНЫЕ ЛАЗЕРТАГ ИГРЫ</h2>
        <h4 class="text-start">В условиях максимально приближенных к боевым, где ты можешь положиться только на свой ум, отвагу и на своих друзей</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/images/fon5_lk.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="fw-bold">АЗАРТ И АДРЕНАЛИН</h2>
        <h4>И того и другого у нас с избытком, присоединяйся, играй и получай море эмоций на самых крутых картах</h4>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/images/fon4_lk.png' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-end fw-bold">БОЕВАЯ ПОДГОТОВКА</h2>
        <h4 class="text-end">Играй с нами и получай отличную боевую тактическую подготовку в условиях настоящего боя</h4>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
<!--КОНЕЦ-СЛАЙДЕР-->




<style>
#openModal {
  position: fixed;
  top: 200px; /* Расстояние от верхней части экрана */
  right: 20px; /* Расстояние от правой части экрана */
  padding: 10px 20px; /* Внутренние отступы */
  font-size: 28px; /* Размер шрифта */
  color: #fff; /* Цвет текста */
  background-color: red; /* Цвет фона */
  border: none; /* Без границы */
  border-radius: 5px; /* Скругленные углы */
  cursor: pointer; /* Курсор при наведении */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
    z-index: 10;
}

#openModal:hover {
  background-color: #0056b3; /* Цвет фона при наведении */
}

/* Медиа-запрос для адаптации на мобильных устройствах */
@media (max-width: 600px) {
  #openModal {
    top: 200px; /* Уменьшенное расстояние сверху */
    right: 10px; /* Уменьшенное расстояние справа */
    padding: 8px 16px; /* Уменьшенные внутренние отступы */
    font-size: 14px; /* Уменьшенный размер шрифта */
  }
}
</style>
 <button id="openModal">Запись</button>
{% include 'main/contact_form.html' %}





<div class="mesh-bg">

<!--ЧТО ТАКОЕ ЛАЗЕРТАГ?-->
<style>
    .mesh-bg {
            background: url('{% static 'main/images/fon_vhod.png' %}');
            background-repeat: no-repeat;
            background-size: cover;
    }
</style>

    <div class="container">
        <div class="row g-3 pt-5">
            <div class="col-sm-6">
                <h2 style="color:#fc0e0e">ЧТО ТАКОЕ ЛАЗЕРТАГ?</h2>
                </br>
                <p class="fs-5 text-container">Если коротко - это активная игра схожая с пейнтболом или страйкболом, но вместо шариков для поражения, использующая инфракрасные лучи.</p>
                <p class="fs-5 text-container"> Вы получаете оружие, а на вашего противника цепляют лазерную метку, которая фиксирует попадение. Когда игрок «убит» оружие автоматически отключается – сжульничать не получится. В итоге получается очень честно и совсем не больно. Именно поэтому в лазертаге можно полностью сосредоточится на стратегии и тактике боя, а дальность поражения до 400 метров делает бой полностью настоящим.</p>
            </div>
            <div class="col-sm-6">
                <h2 style="color:#fc0e0e">ЧЕМ ОН УНИКАЛЕН?</h2>
                </br>
                <p class="fs-5">- Отсутствие болевых ощущений</p>
                <p class="fs-5">- 100% фиксация попадания</p>
                <p class="fs-5">- Дальность стрельбы до 400 метров</p>
                <p class="fs-5">- Возможность игры на любом полигоне или вовсе без него</p>
                <p class="fs-5">- Неограниченный боезапас</p>
                <p class="fs-5">- Игры совершенно без возрастных ограничений</p>
            </div>
        </div>
        <div class="text-center pt-5 pb-5">
            <a href="" class="nav-link fw-bold fs-3 text text-secondary">Узнать больше</a>
        </div>
    </div>
<!--КОНЕЦ-ЧТО ТАКОЕ ЛАЗЕРТАГ?-->


<!--ВИДЕО-->
<style>
        .monitor-bg{
            background: url('{% static 'main/images/bg-monitor.jpg' %}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

<div class="monitor-bg pt-5 pb-5">
    <div class="container container-monitor">
        <img src="{% static 'main/images/laptop.png' %}" class="monitor-img" alt="Монитор">
        <iframe src="https://www.youtube.com/embed/JT1NtRb7J2I?rel=0&controls=0&showinfo=0" class="video-frame" title="YouTube video" allowfullscreen></iframe>
    </div>
</div>
<!--КОНЕЦ-ВИДЕО-->






    <div class="container">


<!--Военно-тактический клуб «Линия Огня»-->


        <div class="row g-3 pb-5 pt-5" id="wrap-logo-indicators3">
            <div class="col-sm-3 center-on-small" id="wrap-logo-indicators">
                <a class="navbar-brand"><img class="logo-hw" src="{% static 'main/images/LOGO-black.svg' %}"></a>
            </div>
            <div class="col-sm-9" id="wrap-logo-indicators2">
                <p class="fs-5">Военно-тактический клуб «Линия Огня» рад предложить вам отличную идею для отдыха в Чите – лазертаг для компании. Это увлекательное развлечение для взрослых и детей.</p>
                <p class="fs-5">Игра в лазертаг идеально подойдет как для начинающих любителей стрелялок, так и для профессионалов. В Чите можно сыграть в лазертаг по-настоящему и испытать невероятные эмоции обратившись к услугам нашего клуба. Мы организовываем лазертаг отдых по самым выгодным ценам. Игры проводятся под руководством лучших инструкторов по лазертагу в Чите.</p>
                <a href="" class="nav-link fw-bold fs-3 text text-secondary">Узнать больше</a>
            </div>
        </div>


        <script>
        function checkWidth() {
            var indicators = document.getElementById('wrap-logo-indicators');
            if (window.innerWidth < 992) {
                indicators.classList.add('col-sm-12');
            } else {
                indicators.classList.remove('col-sm-12');
            }

            var indicators2 = document.getElementById('wrap-logo-indicators2');
            if (window.innerWidth < 992) {
                indicators2.classList.add('col-sm-12');
            } else {
                indicators2.classList.remove('col-sm-12');
            }

            var indicators3 = document.getElementById('wrap-logo-indicators3');
            if (window.innerWidth < 992) {
                indicators3.classList.add('pt-3');
                indicators3.classList.remove('pt-5');
            } else {
                indicators3.classList.add('pt-5');
            }
        }

        window.onload = checkWidth;

        window.onresize = checkWidth;
    </script>
<!--КОНЕЦ-Военно-тактический клуб «Линия Огня»-->




<!--ПОЧЕМУ ИГРА У НАС ЭТО КРУТО?-->


    <div>
        <div class="text-center pb-5">
            <p  class=" fw-bold fs-2  " style="color:#fc0e0e">ПОЧЕМУ ИГРА У НАС ЭТО КРУТО?</p>
        </div>
        <div class="icon-container">
            <div class="icon-item">
                <img src="{% static 'main/images/card/card-1.png' %}" alt="Иконка 1">
                <p class="fs-5">Глобальное противостояние двух сторон. Выбирай на какой стороне ты</p>
            </div>
            <div class="icon-item">
                <img src="{% static 'main/images/card/card-2.png' %}" alt="Иконка 2">
                <p class="fs-5">Звания, форма и уникальный жетон</p>
            </div>
            <div class="icon-item">
                <img src="{% static 'main/images/card/card-3.png' %}" alt="Иконка 3">
                <p class="fs-5">Профессиональные инструкторы</p>
            </div>
            <div class="icon-item">
                <img src="{% static 'main/images/card/card-4.png' %}" alt="Иконка 4">
                <p class="fs-5">Накопительная статистика по каждому игроку</p>
            </div>
            <div class="icon-item">
                <img src="{% static 'main/images/card/card-5.png' %}" alt="Иконка 5">
                <p class="fs-5">Огромное количество игровых карт и сценариев на любой вкус</p>
            </div>
            <div class="icon-item">
                <img src="{% static 'main/images/card/card-6.png' %}" alt="Иконка 6">
                <p class="fs-5">Тренировки и обучение военному искусству по всем правилам</p>
            </div>

            <div class="icon-item icon-item1">
                <img src="{% static 'main/images/card/card-7.png' %}" alt="Иконка 7">
                <p class="fs-5">Дружеская атмосфера и новые знакомства</p>
            </div>
            <div class="icon-item  icon-item1">
                <img src="{% static 'main/images/card/card-8.png' %}" alt="Иконка 8">
                <p class="fs-5">Организация праздника, пикника или застолья в сочетании с игрой</p>
            </div>


        </div>
    </div>

        <script>
        function checkWidth() {
            var footer = document.getElementById('icon-item1');
            if (window.innerWidth < 1200) {
                footer.classList.add('icon-item1');
            } else {
                footer.classList.remove('icon-item1');
            }
        }

        window.onload = checkWidth;

        window.onresize = checkWidth;
    </script>
<!--КОНЕЦ-ПОЧЕМУ ИГРА У НАС ЭТО КРУТО?-->



<!--КАРУСЕЛЬ-2-->
<div class="pb-5">
<div id="carouselExampleIndicators" class="carousel slide mt-5 m-5 mb-5">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="15" aria-label="Slide 16"></button>
  </div>
  <div class="carousel-inner ">
      <div class="carousel-item active">
      <img src="{% static 'main/images/slider-1/1.png' %}" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/2.png' %}" class="d-block w-100 " alt="..." >
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/3.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/4.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/5.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/6.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/7.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/8.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/9.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/10.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/11.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/12.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/13.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/14.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/15.png' %}" class="d-block w-100 " alt="..." >
    </div>
      <div class="carousel-item">
      <img src="{% static 'main/images/slider-1/16.png' %}" class="d-block w-100 " alt="..." >
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>
</div>
<!--КОНЕЦ-КАРУСЕЛЬ-2-->


    </div>
</div>




{% include 'main/running-title/footer.html' %}
{% include 'main/running-title/bottom.html' %}
