{% load static %}

{% include 'main/running-title/top.html' %}
{% include 'main/running-title/navbar.html' %}

<style>
    @media (max-width: 575px) {
    .video-text-size{
        margin-top: -50px;
        margin-left: 32px;
        margin-right: 32px;
    }
}


</style>

<div class="container">

    <div class="text-center mt-5">
        <p class=" fw-bold fs-2 " style="color:#fc0e0e">СЦЕНАРИИ ИГР В ЛАЗЕРТАГ</p>
        <p class="fs-5">Военно-тактический клуб «Линия Огня» в Чите предлагает вам множество увлекательных сценариев для лазертага:</p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-6 ratio ratio-16x9 mb-0 pm-0">
                <iframe src="https://www.youtube.com/embed/HcWgGXj5Irk" class="video-frame" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 pt-3 fs-5">
          <p class="video-text-size">Сценарий «Team Deathmatch» - классический сценарий где происходит сражение команда на команду, побеждают оставшиеся в живых бойцы одной из команд</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/72EhpMtacrI" class="video-frame" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 pt-3 fs-5">
          <p class="video-text-size">Сценарий «Захват контрольных точек» - уникальный сценарий для лазертага: на полигоне устанавливаются несколько контрольных точек и задача команд захватить и удержать контроль над ними определенное время. Очень динамичный сценарий, требующий от игроков неплохой физической подготовки.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/4blyVGwOyBk" class="video-frame" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 pt-3 fs-5">
          <p class="video-text-size">Сценарий «Захват флага» - каждая команда получает собственный флаг, задача захватить флаг соперника и установить его на своей базе, при этом свой флаг должен оставаться на месте.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/DN8Hz3LH4mw" class="video-frame" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 pt-3 fs-5">
          <p class="video-text-size">Сценарий «Зомби»</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/s8qYXyiixzY" class="video-frame" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 pt-3 fs-5">
          <p class="video-text-size">Сценарий «Штурм здания» - обороняющаяся сторона должна отражать атаки наступающих в течении определенного времени. Сложность в том что у игроков в обороне ограничены и жизни и боезапас.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/K5hb5bZ7XSE" class="video-frame" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 pt-3 fs-5">
          <p class="video-text-size">Сценарий «Диверсия» - одна из команд получает бомбу, должна установить её в одном из двух определенных мест на локации и удерживать до момента взрыва. Вторая команда не должна этого допустить - все как в контр-страйк!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/l5UlLnsbybk" class="video-frame" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-6 pt-3 fs-5">
          <p class="video-text-size">Сценарий «Спасение заложника» или аналог «VIP-персона» необходимо доставить живым  безоружного игрока в точку эвакуации, проведя его по сложному маршруту под огнем соперников.</p>
        </div>
    </div>


</div>


{% include 'main/running-title/footer.html' %}
{% include 'main/running-title/bottom.html' %}